SECRET_KEY=

DEBUG=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

EMAIL_SUPERUSER=
PASSWORD_SUPERUSER=

STRIPE_SECRET_KEY=

LOCATION=
CELERY_BROKER_URL=

EMAIL_HOST_USER=your_email_host@yandex.ru
EMAIL_HOST_PASSWORD=